PORT=3000

POSTGRES_PORT=5432
POSTGRES_HOST="localhost"
POSTGRES_DB="postgres"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgres"

DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}?schema=public"

AWS_REGION="<aws-region>"
AWS_CREDENTIALS_ACCESS_KEY_ID="<aws-access-key-id>"
AWS_CREDENTIALS_SECRET_ACCESS_KEY="<aws-secret-key>"
